.horizontal-bar {
    width: 1220px;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b3d50; 
    color: rgb(24, 26, 26); 
    padding: 10px 20px;
    border-radius: 15px; 
    border-color: black;
    margin: 20px auto;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
    box-sizing: border-box; 
    z-index: 10;
}

.time-display {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
}

.buttons {
    display: flex; 
    justify-content: flex-end; 
}

.date-display {
    font-weight: bold;
}