@import "~@fortawesome/fontawesome-free/css/all.min.css";

.chart-container {
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 10px;
}

.chartjs-size-monitor {
    display: none !important;
}

.temp-temperature-block {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #ffcd58;
    padding: 5px 20px 5px 20px;
    background: #2b2b3d;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1), 
                inset -2px -2px 5px rgba(0, 0, 0, 0.6),
                0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}